* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #9e711d;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookingform{
  width: 45rem;
  height: 52rem;
  background-color: #5a975a;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.bookingform form header {
  width: 100%;
  height: 12rem;
  background-color: #062c06;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.bookingInput {
  margin-top: 10%;
  margin-right: 10%;
}

.field{
  white-space: nowrap;
  outline: none;
  transition: all 0.3s ease;
  margin-left: 10%;
}



.textArea{
  margin-left: 10%;
  border-color: #b3b3b3;
  resize: none;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  width: 200px;
  height: 90%;
  padding-left: 10px;
  text-shadow: none;
}

.textArea:focus{
  border-color: #b3b3b3;
}

.buttonArea{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: none;
}

.button{
  color: #fff;
  display: block;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #9e711d;
  border: 2px solid #9e711d;
  transition: all 0.3s ease;
  width: 100px;
  height: 50px;
  text-shadow: none;
  margin-left: 15%;
}

.button:hover{
  color: #9e711d;
  background: none;
}

td{
  width: 200px;
  height: 47px;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #ae7462;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #7c141c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month h2{
  font-size: 2rem;
  font-weight: 400;
}

.month p {
  font-size: 1.4rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}

.days div:hover {
  background-color: #262626;
  border: 0.2rem solid #777;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  font-weight: bold;
}

.days .showPopup{
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.days .showPopup::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.days .hide{
  display: none;
}

.BookedByMe{
  background-color: #9e711d;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}